/* src/App.css */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* src/AnalogClock.css */
.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 6px solid #333;
  border-radius: 50%;
}

.hand {
  position: absolute;
  background-color: #333;
  transform-origin: 50% 100%;
}

.hour {
  height: 40px;
  width: 6px;
}

.minute {
  height: 60px;
  width: 4px;
}

.second {
  height: 70px;
  width: 2px;
}

.center {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
